#signed{
    width:100vw;
    height:100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.left{
    background-image:url('./Confetti-Doodles.svg');
    font-family: sans-serif;
}
.left h1{
    font-family: 'Lobster', cursive;
}
.img1{
    background-image: url('./Confetti-Doodles.svg') ;
    height:50%;
    width: 90%;
    border-radius:0.25rem;
    margin-top: 35%;
    margin-left:5%;
}
.rightUp{
    display:grid;
    justify-items: center;
    background-image: url('./Confetti-4s-1156px.svg');
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logUp{
    margin-left:60%;
}
.form{
    width:65%;
}
.namer{
    margin-left: 10%;
    margin-top: 2rem;
    margin-bottom:0.75rem;
}
hr{
    width:100%;
}
button:focus,input:focus{
    outline:none;
}
.namesUp{
    width:100%;
    display:flex;
    justify-content: space-between;
}
.namesUp div{
    width:45%;
    display:grid;
}
.namesUp div h2, .mail h2{
    margin-bottom: 0.5rem;
}
.namesUp input{
    border-radius: 0.45rem;
    padding-left:0.45rem;
    padding-right:0.45rem;
}
.mail{
    width:100%;
}
.mail input{
    width:100%;
    border-radius:0.45rem;
    padding-left:0.45rem;
    padding-right:0.45rem;
}
.id{
    margin-top:1rem;
}
.butty{
    height:3rem;
    border-radius: 0.5rem;
    margin-top:1rem;
    width: 50%;
    color: rgb(133, 15, 117);
}
.butty:hover{
    background-color: purple;
    color:white;
}
#copywrite{
    margin-top: 3rem;
}
a{
    text-decoration: none;
}
@media only screen and (max-width: 600px), only screen and (max-device-width: 600px){
    #signed{
        grid-template-columns:1fr;
    }
    .left{
        text-align: center;
    }
    .img1{
        margin-top:10%;
        margin-left: 0;
    }
    .logUp{
        margin:0px;
        margin-top: 2rem;
    }
    .signedInner{
        color: darkslateblue ;
    }
    .signedInner:active, .signedInner:focus{
        color: orangered;
    }
    .form{
        width:90%;
    }
    .namesUp{
        display: grid;
        width:100%;
    }
    .namesUp div{
        width: 90vw;
    }
    .mail{
        width:95%;
    }
    .butty{
        margin-left: 20%;
    }
    .butty:focus, .butty:active, .butty:focus-within{
        background-color: purple;
        color:white;
        background-color: silver;
    }
}